.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-left: -2rem;
  margin-right: -2rem;
}

.control {
  border: 0;
  background-color: transparent;
  overflow: hidden;
  padding: 0;
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1px;
  cursor: pointer;
}

.control[disabled] {
  opacity: 0.3;
  pointer-events: none;
}

.button-icon {
  height: 4rem;
  margin-bottom: 1rem;
}
