* {
  outline: none !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}

html,
body {
  background-color: #755f8a;
}

.main-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main-board {
  background-color: #fcf9f0;
  padding: 25px;
  border-radius: 2px;
}

.message {
  color: #71665f;
  margin: 1.2rem auto 1.5rem;
}
