* {
  outline: none !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}

html,
body {
  background-color: #755f8a;
}

.main-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main-board {
  background-color: #fcf9f0;
  padding: 25px;
  border-radius: 2px;
}

/* Board */

.game-board {
  background-color: #bcafa2;
  border-radius: 2px;
}

.board-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding: 10px;
}

.grid-item {
  background-color: #cdc1b5;
  height: 75px;
  width: 85px;
  border-radius: 2px;
}

.message {
  color: #71665f;
  margin: 1.2rem auto 1.5rem;
}

/* ScoreSheet */
.head {
  overflow: hidden;
}
.head-title {
  color: #71665f;
  font-weight: bold;
  font-size: 3.5rem;
  float: left;
  width: 50%;
  line-height: 0.7;
}
.head-scores {
  float: right;
  width: 50%;
  display: flex;
}
.score {
  width: 50%;
  margin-left: 0.5rem;
  border-radius: 2px;
  background-color: #bbae9e;
  text-align: center;
  font-weight: bold;
  padding: 0.3rem;
}
.score-title {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #fcf9f0;
  opacity: 0.8;
}
.score-value {
  color: #fcf9f0;
}

/* Controls */

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.control {
  border: 0;
  background-color: transparent;
  overflow: hidden;
  padding: 0;
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1px;
  cursor: pointer;
}

.control[disabled] {
  opacity: 0.3;
  pointer-events: none;
}

.button-icon {
  height: 4rem;
  margin-bottom: 1rem;
}
